<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
    <div id="toolbar">
      <a href="/b" class="trigger">&#9728;</a>
      <a href="/b/create">New</a>
      <% if @node %>
        <a href="/node/<%= @node.blobref %>/edit">Edit</a>
        <a href="/node/<%= @node.blobref %>/delete">Delete</a>
      <% end %>
    </div>
    <div id="main">
    <%= @dpm %>
    <h1><%= @title %></h1>
    <article><%= yield %></article>
    </div>
    <br /><br />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  </body>
</html>
