<pre><%= @dpm || '' %></pre>
<%= @node.title %><br />
<%= @node.body %>
<br /><br />
<% @node.revisions.each_with_index do |revision, index| %>
<a href="/node/<%= @node.blobref %>/<%= index %>"><%= index %> <%= revision.claims.last.blobref %></a><br />
<% end %>